@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes greet {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(60deg);
  }

  30% {
    transform: rotate(0deg);
  }

  45% {
    transform: rotate(60deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.hello {
  @include section;
  min-height: 100vh;
  justify-content: space-around;

  &__greeting {
    display: none;
  }

  &__photo {
    object-fit: cover;
    height: 140px;
    width: 140px;
    border-radius: 70px;
    border: solid 16px $blue-light02;
  }

  &__wrapper {
    max-width: 600px;
  }

  &__title {
    font-size: 26px;
    line-height: 34px;
    color: $text-dark;
    text-align: center;
    margin: 30px 0 16px 0;
  }

  &__description {
    @include sectionText;
    margin: 0 0 30px 0;
  }

  &__link {
    text-decoration: none;
    font-weight: 700;
    color: $text-link;
  }


  @media (min-width: $deviceLarge) {
    min-height: 100vh;
    justify-content: center;

    &__photo-wrapper {
      position: relative;
    }

    &__greeting {
      display: inline;
      background-color: $blue;
      padding: 18px;
      border-radius: 20px;
      color: $white;
      font-size: 24px;
      position: absolute;
      top: -20%;
      right: -80%;
      animation: slide .6s backwards;

      &::before {
        content: "";
        background: url(../assets/img/speech_cloud.svg) no-repeat;
        background-size: contain;
        height: 40px;
        width: 20px;
        position: absolute;
        bottom: 2px;
        left: 20%;
        transform: translateY(100%);

      }
    }

    &__wrapper {
      margin: 70px 0;
      width: 600px;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        background: url(../assets/img/bracket-left.svg) no-repeat right;
        background-size: contain;
        height: 140%;
        width: 100px;
        top: 50%;
        left: -120px;
        transform: translateY(-50%);
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        background: url(../assets/img/bracket-right.svg) no-repeat left;
        background-size: contain;
        height: 140%;
        width: 100px;
        top: 50%;
        right: -120px;
        transform: translateY(-50%);
      }
    }

    &__photo {
      height: 200px;
      width: 200px;
      border-radius: 100px;
    }

    &__title {
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 26px;
    }
  }
}

.button {
  @include contactButton;
}

.hand {
  display: inline-block;
  animation: greet 1s .2s both infinite;
}