.hello {
  @include section;
  justify-content: space-between;


  &__photo {
    object-fit: cover;
    height: 140px;
    width: 140px;
    border-radius: 70px;
    border: solid 16px #F6F9FD;
  }

  &__title {
    font-size: 26px;
    line-height: 34px;
    color: #234361;
    text-align: center;
    margin: 30px 0 16px 0;
  }

  &__description {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin: 0 0 30px 0;
  }

  &__link {
    text-decoration: none;
    font-weight: 700;
    color: #4DA8FF;

  }
}

.button {
  @include contactButton;
}