.projects {
    @include section;

    &__title {
        @include sectionTitle;
        color: $text-dark;
    }

    &__description {
        @include sectionText;
        color: $text-dark;
        margin: 0 0 30px 0;

        @media (min-width: $deviceMedium) {
            width: 700px;

        }

        @media (min-width: $deviceLarge) {
            margin: 0 0 60px 0;
        }
    }

    &__wrapper {
        width: 100%;
        display: grid;
        gap: 20px;

        @media (min-width: $deviceMedium) {
            width: 700px;
            grid-template-columns: 1fr 1fr;
        }

        @media (min-width: $deviceLarge) {
            width: 1000px;
        }
    }
}

.console {
    width: 100%;
    background-color: $console-grey02;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);

    &__bar {
        height: 36px;
        background-color: $console-grey01;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
    }

    &__dot {
        height: 8px;
        width: 8px;
        background-color: $console-grey03;
        border-radius: 4px;
        margin-right: 10px;
    }
}

.project {

    &__wrapper {
        padding: 25px;

        @media (min-width: $deviceLarge) {
            padding-bottom: 40px;
        }
    }

    &__icon {
        height: 30px;
        width: 30px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 110px 1fr;
        gap: 16px;
        font-size: 13px;
        font-family: 'Roboto Mono', monospace;

        @media (min-width: $deviceLarge) {
            grid-template-columns: 160px 1fr;
            font-size: 16px;
        }
    }

    &__label {
        font-weight: 400;
        text-align: right;
        color: $console-grey04;
    }

    &__title {
        font-weight: 700;
        color: $white;
    }

    &__text {
        color: $console-grey05;
    }

    &__link {
        color: $text-link;
    }
}