.skills {
    @include section;
    background-color: $blue;
    color: $white;

    &__title {
        @include sectionTitle;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.skills-type {

    &__title {
        font-size: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &::before {
            font-size: 50px;
            margin-bottom: 20px;
        }

        &--bicep::before {
            content: '💪';
        }

        &--face::before {
            content: '🤔';
        }

        &--hat::before {
            content: '🎓';
        }
    }

    &__list--green-tick {
        list-style: url(/src/assets/icons/small-tick.svg);
    }

    &__list--blue-tick {
        list-style: url(/src/assets/icons/small-tick-light-blue.svg);
    }

    &__skill {
        margin-bottom: 14px;
    }
}