@mixin section {
    min-height: 100vh;
    margin: 0;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin sectionTitle {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
}