@mixin section {
    min-height: 100vh;
    // min-height: -webkit-fill-available;
    margin: 0;
    padding: 50px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $deviceMedium) {
        padding: 50px 36px;
    }

    @media (min-width: $deviceLarge) {
        padding: 70px 100px;
        min-height: auto;
    }

}

@mixin sectionTitle {
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 40px 0;

    @media (min-width: $deviceLarge) {
        font-size: 48px;
        margin: 0 0 50px 0;
    }
}

@mixin sectionText {
    font-size: 16px;
    line-height: 30px;
    text-align: center;

    @media (min-width: $deviceLarge) {
        font-size: 20px;
        line-height: 40px;
    }
}

@mixin contactButton {
    background-color: #4DA8FF;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    height: 46px;
    line-height: 46px;
    padding: 0 26px;
    border-radius: 23px;

    @media (min-width: $deviceLarge) {
        font-size: 20px;
        letter-spacing: 2px;
    }
}