@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

@import "_variables";
@import "_mixins";
@import "modules/hello.scss";
@import "modules/skills.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
min-height: 100vh;
font-family: 'Nunito', sans-serif;
letter-spacing: 0.1rem;
}
